<div class="container-fluid" style="border: 1px solid #a7adb3;width:1160px;border-collapse: collapse;font-family: Trebuchet MS; ">
			
			<div>






<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->


.topbar {
    height: auto;
    background-color: #244764;
    padding: 1px;
    display: flow-root;
}

.outer-wrapper {
/*     width: 100%; */
/*     height: 116px; */
/*     padding: 1px 0px 0px 0px; */
/*     margin: 0px; */
    -moz-box-shadow: 0px 1px 2px #022B38;
    -webkit-box-shadow: 0px 1px 2px #022B38;
    box-shadow: 0px 1px 2px #022B38;
    background: #ffffff;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#0388d8),color-stop(0.6,#ffffff));
    background: -moz-linear-gradient(center bottom,#0388d8 0%,#ffffff 50%);
}
.wrapper-1 {
/*     width: 100%; */
/*     height: 116px; */
    background-color: #;
/*     margin-top: 15px; */
/*     top: -4px; */
/*     left: 0px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.header-text-1 {
    font-family: "Arabic Typesetting";
    font-size: 25px;
    color: #fff;
    padding: 0px;
    margin: 0px;
}

.logo img {
    float: left;
    margin-right: 8px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}
.profiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    padding: 5px 5px;
    align-items: center;
    text-align: center;
}

</style>



<title>Header</title>

<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="This is my page">
<!--
	<link rel="stylesheet" type="text/css" href="styles.css">
	-->

		



				<input type="hidden" name="csrfToken" value="" id="csrfToken" autocomplete="off">
				<header>

		<div class="container-fluid" style="width: 1100px; height: 140px;padding: 10px;">
			<div class="row no-gutters ">
			
			

				<div class="col-md-8" style="height: auto;">
					<div class="logo" style="padding: 15px;">
						<img src="images/tslogo.png" alt="wd&amp;cw logo" class=" border-right">

						<h1>
							<span style="letter-spacing: 2px;"> Mahatma Jyothiba Phule Telangana Backward Classes Welfare Residential Educational Institutions Society</span> 
							
						</h1>
						<span style="color: #888;">Government of Telangana</span>
					</div>
				</div>
				
				
				<div class="col-md-2 col-12">
					<div class="profiles">
						<img src="images/kcr.png" alt="Chief Minister">
						<h2>Sri K Chandrashekar Rao</h2>
						<p>Hon'ble Chief Minister</p>

					</div>

				</div>
				
				
				
				
				
				
				



			</div>



		</div>

		<div class="bg_nav">
			<div class="container-fluid">
				<div class="row  no-gutters">
					<div class="col-md-12 col-xs-12">
						<nav class="main-nav" role="navigation ">
							<!-- Mobile menu toggle button (hamburger/x icon) -->
							<input id="main-menu-state" type="checkbox"> <label class="main-menu-btn" for="main-menu-state"> <span class="main-menu-btn-icon"></span> Toggle main menu visibility
							</label>



							<!-- Sample menu definition -->
							<ul id="main-menu" class="sm sm-blue">
							
							
							
					
					</ul>



						</nav>
					</div>


				</div>
			</div>
		</div>

	</header>
				


</div>	
	
			<div align="center" style="background-color:#eff2ef;">
				 <span style="font-weight: bold;font-size: 19px; color:#0b296f;">
<!--                          Mahatma Jyotiba Phule  Telangana Backward Classes Welfare Residential Educational Institutions Society (MJPTBCWREIS)<br />
 -->                           Entrance Test for admission into BCWR Junior Colleges - 2022<br>
                        
                        Online Payment Form
                        
								</span>
</div>
				
			<div class="col-sm-2">
			</div>
			        
				
				<div class="errmessage ng-binding" align="center"></div>
				
				&nbsp;

				


					<table align="center">
						 
                        <tbody><tr>
                            <td class="tdGplWidth1" valign="middle" style="width: 50%" align="right">Applying for <font style="color: red;"> * </font>
                            </td>
                            <td valign="middle">
                                <div class="applyfor">
                                    
                                   <span style="font-size: 19px;"> Residential Junior College(RJC)</span>
                                    
                                </div>
                            </td>
                        </tr>
                        
                        
                        <tr>
                            <td class="tdGplWidth1" valign="middle" style="width: 50%" align="right">District belongs to<font style="color: red;"> * </font>
                            </td>
                            
                            <td><select ng-model="district" class="ng-pristine ng-untouched ng-valid ng-empty">
                                    <option value="" selected="selected">Select District</option>
                                    
                                        <option value="1701">ADILABAD</option>
                                    
                                        <option value="1729">BHADRADRI (KOTHAGUDEM)</option>
                                    
                                        <option value="1712">HANUMAKONDA</option>
                                    
                                        <option value="1728">HYDERABAD</option>
                                    
                                        <option value="1708">JAGITIAL</option>
                                    
                                        <option value="1715">JANGOAN</option>
                                    
                                        <option value="1714">JAYASHANKAR(BHUPALPALLY)</option>
                                    
                                        <option value="1730">JOGULAMBA(GADWAL)</option>
                                    
                                        <option value="1706">KAMAREDDY</option>
                                    
                                        <option value="1707">KARIMNAGAR</option>
                                    
                                        <option value="1716">KHAMMAM</option>
                                    
                                        <option value="1702">KOMARAMBHEEM(ASIFABAD)</option>
                                    
                                        <option value="1713">MAHABUBABAD</option>
                                    
                                        <option value="1720">MAHABUBNAGAR</option>
                                    
                                        <option value="1703">MANCHERIAL</option>
                                    
                                        <option value="1725">MEDAK</option>
                                    
                                        <option value="1731">MEDCHAL(MALKAJGIRI)</option>
                                    
                                        <option value="1733">MULUGU</option>
                                    
                                        <option value="1722">NAGARKURNOOL</option>
                                    
                                        <option value="1717">NALGONDA</option>
                                    
                                        <option value="1732">NARAYANPET</option>
                                    
                                        <option value="1704">NIRMAL</option>
                                    
                                        <option value="1705">NIZAMABAD</option>
                                    
                                        <option value="1709">PEDDAPALLY</option>
                                    
                                        <option value="1710">RAJANNA (SIRCILLA)</option>
                                    
                                        <option value="1723">RANGAREDDY(SHAMSHABAD)</option>
                                    
                                        <option value="1726">SANGAREDDY</option>
                                    
                                        <option value="1727">SIDDIPET</option>
                                    
                                        <option value="1718">SURYAPET</option>
                                    
                                        <option value="1724">VIKARABAD</option>
                                    
                                        <option value="1721">WANAPARTHY</option>
                                    
                                        <option value="1711">WARANGAL</option>
                                    
                                        <option value="1719">YADADRI (BHONGIRI)</option>
                                    
                            </select></td>
                            
                        </tr>
                        
					
						
						<tr>
							<td class="tdGplWidth1" valign="middle" style="width: 50%" align="right">Candidate Name <font style="color: red;"> * </font></td>
							<td valign="middle" style="width:"><input type="text" drop-disable="" only-letters-input="" stopccp="" uppercased="" ng-model="candidateName" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty" style="text-transform: uppercase;"></td>
						</tr>
						
						
						<tr>
							<td class="tdGplWidth1" valign="middle" style="width: 50%" align="right">Community<font style="color: red;"> * </font>
							</td>
							
							
							<td><select ng-model="community" ng-change="reset();getCommunityDateFeetsmjbcrjc2022();" class="ng-pristine ng-untouched ng-valid ng-empty">
									<option value="" selected="selected">Select Community</option>
									
										<option value="BC-A">BC-A
										</option>
									
										<option value="BC-B">BC-B
										</option>
									
										<option value="BC-C">BC-C
										</option>
									
										<option value="BC-D">BC-D
										</option>
									
										<option value="BC-E">BC-E
										</option>
									
										<option value="OC/EBC">OC/EBC
										</option>
									
										<option value="SC">SC
										</option>
									
										<option value="ST">ST
										</option>
									
							</select></td>
							
						</tr>
						
						
						<tr class="tdGplWidth1 ng-hide" ng-show="dobshow">
							<td valign="middle" style="width: 50%" align="left">Date of
									Birth<font style="color: red;"> * </font>
								</td>
								<td valign="middle"><input type="text" id="dob" ng-model="dob" placeholder="dd/mm/yyyy" class="form-control ng-pristine ng-untouched ng-valid ng-empty"></td>
						</tr>
						
						
						<tr>
							<td class="tdGplWidth1" valign="middle" align="right">Mobile
								Number<font style="color: red;"> * </font>
							</td>
							<td valign="middle" style="width:"><input type="text" drop-disable="" ng-model="mobile" maxlength="10" numbers-only="numbers-only" stopccp="" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty ng-valid-maxlength"></td>
						</tr>
						
					   
                        <tr>

                            <td class="tdGplWidth1" valign="middle" align="right">Do you
                                belong to Telangana State<font style="color: red;"> * </font>
                            </td>
                            <td valign="middle" style="width: 50%">  &nbsp;&nbsp;<input type="radio" ng-model="ists" value="Y" class="ng-pristine ng-untouched ng-valid ng-empty" name="6"> <font style="font-size: 17px; font-family: Trebuchet MS; font-weight: normal">
                                    Yes</font> <input type="radio" ng-model="ists" ng-click="onlyfn('N');" value="N" class="ng-pristine ng-untouched ng-valid ng-empty" name="7"> <font style="font-size: 17px; font-family: Trebuchet MS; font-weight: normal">
                                    No</font></td>
                        </tr>
                        
                        
						
						<tr>

							<td class="tdGplWidth1" valign="middle" align="right">Gender<font style="color: red;"> * </font>
							</td>
							<td valign="middle" style="width: 50%">&nbsp;&nbsp;<input type="radio" ng-model="gender" value="M" class="ng-pristine ng-untouched ng-valid ng-empty" name="8"> <font style="font-size: 17px; font-family: Trebuchet MS; font-weight: normal">Male</font>
								<input type="radio" ng-model="gender" value="F" class="ng-pristine ng-untouched ng-valid ng-empty" name="9"><font style="font-size: 17px; font-family: Trebuchet MS; font-weight: normal">
									Female</font></td>
						</tr>
						
						<tr>
							<td class="tdGplWidth1" valign="middle" style="width: 50%" align="right">Choose Payment Gateway<font style="color: red;"> * </font></td>
							<td><select ng-model="paymentOption" class="ng-pristine ng-untouched ng-valid ng-not-empty">

									<option value="B" selected="selected">Bill desk Payment Gateway</option>


							</select></td>

						</tr>

						<tr>
							
                           <td class="tdGplWidth1" valign="middle" align="right">Amount<font style="color: red;"> * </font></td>
							<td class="" valign="middle" style="width: 50%">
							 
							<font style="font-family: Roboto Condensed;font-size: 18px;">
							
							
							<input type="text" ng-model="fee" name="fee" readonly="readonly" value="" class="ng-pristine ng-untouched ng-valid ng-empty"></font>
							
							</td>
							
						</tr>
					<tr>
                            <td class="tdGplWidth1" valign="middle" style="width: 50%" align="center">Enter Verification Code as<br> displayed
                                in the image<font style="color: red;"> * </font> <br>
                            </td>
                            <td valign="middle" style="width: 50%"><input type="text" name="captchaEntered" drop-disable="" stopccp="" ng-focus="clearAlertMsg();" ng-model="captchaEntered" maxlength="6" required="" class="ng-pristine ng-untouched ng-isolate-scope ng-empty ng-invalid ng-invalid-required ng-valid-maxlength"> <img border="1" alt="" src="SecurityImageServlet/Y0VWOFNSeFdvbWg3ektpb2VsS2gwQT09"></td>
                        </tr>

					</tbody></table>


					<table align="center" cellpadding="2" cellspacing="0" style="width: 100%; border-top-color: white;">
						<tbody><tr>
							<td><br>
							<br>
								<ul>
									<font style="font-family: Roboto Condensed; color: green; font-size: 19px;">
										<li>Provide Candidate Valid Mobile Number in Payment
											Form. Any future Communication (Message Alerts) will be sent
											to Candidate Mobile Number Only.</li> <br>
										<li>Provide Candidate Valid Name,Mobile
											Number,Community,Gender and other Details. No Changes are
											entertained after Payment.</li> <br>
										<li>Candidate alone responsible for any wrong entries
											(Mobile Number,Community,Gender....) made in the Payment
											form.</li>
									</font>
								</ul></td>
						</tr>
						
						<tr>
							<td id="rdcTd"><input type="checkbox" name="rjcverify" ng-model="rjcverify" class="ng-pristine ng-untouched ng-valid ng-empty"> <font style="font-family: Roboto Condensed; color: black; font-size: 19px;">
									I Declare that I have read the information bulletin of MJPRJC-CET 2022 and applied as a candidate appearing for SSC exam 2022 [First attempt and not compartmental].
							</font></td>

						</tr>
						
							<tr>
							<td valign="middle" width="50%" align="center" colspan="2">

								<br> <br> <br>
								<button style="width:10%;" type="button" value="Submit" ng-click="getDetailsRJC2022();" class="btn btn-primary btn-md">
									<font style="font-family:">Submit</font>
								</button><br><br><br><br>
							</td>

						</tr>
						</tbody></table>
				

		
	</div>
